/* General Page Styling */
.contact-us-page {
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: inherit;
}

/* Hero Banner */
.hero-banner {
  background: linear-gradient(45deg, #ff6341, #ff4500);
  color: white;
  padding: 60px 20px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.hero-banner h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-banner p {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 300;
}


.contact-us-container {
  margin-top: -50px;
  padding: 20px;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-col {
  text-align: left;
}

.logo-image {
  width: 150px;
  margin-bottom: 15px;
  margin-top: 50px ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icon {
  color: #ff6341;
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #e94c2b;
  transform: scale(1.2);
}

/* Contact Form */
.contact-form {
  margin-top: 20px;
}

.contact-field {
  margin-bottom: 20px;
}

.submit-button {
  background-color: #ff6341;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background-color: #e94c2b;
  transform: scale(1.05);
}

/* Map Section */
.map-container {
  width: 100%;
  height: 450px;
  margin-top: 50px;
}

.map-container iframe {
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-banner h1 {
    font-size: 2.5rem;
  }

  .hero-banner p {
    font-size: 1rem;
  }

  .left-col {
    text-align: center;
  }

  .right-col {
    margin-top: 25px;
  }
}
