.event-section-page .vertical-timeline::before {
  background: #e64a19 !important;
}

.event-section-page .custom-date {
  color: #4a4a4a !important;
  font-weight: 700 !important;
  font-size: 1.05rem !important;
  opacity: 0.85;
}

@media only screen and (max-width: 1169px) {
  .event-section-page .custom-date {
    margin-bottom: 8px !important;
    display: inline-block;
  }
}
