.about-us-section {
  color: black;
}

.about-text {
  text-align: left;
}

.hilite-color {
  color: #ff6341;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
}

.subtitle {
  margin-bottom: 20px;
  color: black;
}

.paragraph {
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.custom-button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #ff6341;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ff6341;
}

.custom-button:hover {
  background-color: #ff6341;
  color: #fff;
}

.about-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 50px 10px;
  }

  .highlight {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }
}
