/* General Styles */
.about-us-section {
  color: black !important;
  padding: 0px 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.about-us-section.animate {
  opacity: 1;
  transform: translateY(0);
}


.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: auto;
  display: block;
}


.about-text h1 {
  font-size: 3rem;
color:black;
margin-bottom: 20px;
font-weight: bold;
 }


.about-text h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.about-text .btn-outline-dark {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #ff6341 ;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-text .btn-outline-dark:hover {
  background-color: #ff6341;
  color: #fff;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 50px 10px;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .image-container {
    max-width: 100%;
    border-radius: 0;
  }

  .about-image {
    height: auto;
    object-fit: cover;
  }
}
