.about-us-section {
  color: black;
  padding: 50px 20px;
}

.about-text {
  text-align: left;
}

.hilite-color {
  color: #ff6341;
  font-weight: bold;
}

.about-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.about-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.custom-button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #ff6341;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #ff6341;
  color: #fff;
}

.about-image {
  width: 100%;
  height: auto;
  
  
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 50px 10px;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}
