/* General container styling */
.component-container {
  position: relative;
  overflow: hidden;
  color: #333;
  padding: 50px 20px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.hilite-color {
  color: #ff6341;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 1;
}

.location-card {
  position: relative;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background: inherit;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.location-card:hover {
  transform: translateY(-10px);
}

.location-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Location content styling */
.location-content {
  padding: 1.5rem;
  text-align: center;
}

.icon {
  font-size: 2rem;
  color: #ff6341;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.5rem;
}

.learn-more-btn {
  background-color: #ff6341;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #e4401b;
}

@media (max-width: 768px) {
  .location-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 1.8rem;
  }
}
