/* General container styling */
.component-container {
  padding: 60px 20px;
  background: inherit;
  text-align: center;
  color: #ffffff;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: black;
}

.hilite-color {
  color: #ff6341;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.location-card {
  perspective: 1000px;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

}

.location-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.location-card:hover .location-card-inner {
  transform: rotateY(180deg);
}

.location-card-front,
.location-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.location-card-front {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.location-image-wrapper {
  width: 100%;
  height: 350px; /* Increased height */
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.location-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: path('M50 20 Q 25 35, 20 70 T 25 200 Q 35 250, 70 280 Q 100 300, 130 280 Q 160 300, 200 280 Q 250 300, 280 260 Q 300 220, 280 180 Q 300 120, 250 100 Q 200 50, 150 70 Q 100 30, 50 20 Z');
  transition: transform 0.3s ease-in-out, clip-path 0.3s ease-in-out;
}

.location-card:hover .location-image {
  transform: scale(1.05);
  clip-path: path('M50 20 Q 25 35, 20 70 T 25 200 Q 35 250, 70 280 Q 100 300, 130 280 Q 160 300, 200 280 Q 250 300, 280 260 Q 300 220, 280 180 Q 300 120, 250 100 Q 200 50, 150 70 Q 100 30, 50 20 Z');
}

.location-content {
  padding: 20px;
}

.icon {
  font-size: 2rem;
  color: #ff6341;
  margin-bottom: 15px;
}

.location-name {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}

.location-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-content-back {
  padding: 20px;
  text-align: center;
}

.location-description {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.learn-more-btn {
  display: inline-block;
  background-color: #ff6341;
  color: #ffffff;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #e4401b;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .location-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
  }
}
