.full-width-image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}

.full-width-image {
  width: 100%;
  height: auto;
  animation: scrollAnimation 10s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
